@import './global.css';
@import './variables.css';

/*************? BACKGROUND ******************/
#signup {
  background: url(../assets/signup-bg.jpg) no-repeat center/cover;
  height: 100vh;
  display: grid;
  place-content: center;
}
.signup__bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark2-clr);
  opacity: 0.5;
}
.signup__main-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: var(--dark-clr);
  padding: 1rem 1rem 1rem 10vw;
  color: var(--light2-clr);
}
.signup__main-header h1 {
  margin: 0;
}
/*************? FORM ******************/
.signup__form {
  position: relative;
  z-index: 2;
  background-color: var(--light-clr);
  border-radius: 25px;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.66);
  margin: 1rem;
  padding: 2rem;
  color: var(--dark-text);
}
.form-header h2,
.form-header h2 span {
  font-size: 2rem;
  margin-top: 0;
  text-align: center;
}
.form-body {
  display: flex;
  flex-direction: column;
}
.form-group {
  padding: 1rem 0;
  text-align: center;
}
.form-group input {
  padding: 1rem;
  width: 350px;
  border-radius: 15px;
  border: 1px solid var(--dark-text);
  font-size: 1.1rem;
}
.signup-btn {
  margin: 2rem auto;
}
.terms-group {
  max-width: 350px;
  margin-bottom: 1.5rem;
  line-height: 1.25rem;
}
#terms {
  margin-right: 0.5rem;
}
.login-switch {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.login-switch a {
  color: var(--accent-clr);
}
@media screen and (max-width: 500px) {
  .signup__main-header {
    z-index: 3;
  }
  .signup__form {
    margin-top: 80px;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    display: grid;
    place-content: center;
  }
  .form-group input {
    width: 80vw;
  }
  .signup-btn {
    padding: 1.5rem;
  }
}
