.landing__nav-container {
  background-color: $dark-clr;
  color: $light2-clr;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

#burger-icon {
  display: none;
  font-size: 1.9rem;
}
.landing__nav-center {
  display: flex;
  margin: 0 10rem;
}
.nav-link {
  font-size: 1.5rem;
  margin: 1rem 2rem;
  cursor: pointer;
}
.landing__nav-burger {
  a {
    cursor: pointer;
    &:hover {
      color: unset !important;
    }
  }
}
.landing__nav-center li a,
.landing__nav-account li a {
  font-size: 1.25rem;
}
.landing__nav-account {
  display: flex;
}
.mobile-dropdown {
  display: flex;
}
.home__active-link {
  text-decoration: underline;
  color: $hover-clr;
}

/*************? MEDIA QUERIES ******************/
/*************? FOR THE WHOLE LANDING PAGE ******************/
@media screen and (max-width: 1550px) {
  h2 {
    font-size: 2rem;
  }
  .landing__card-container {
    width: 80vw !important;
  }
  .landing__nav-center {
    margin: 0 8rem;
  }
}
@media screen and (max-width: 1450px) {
  h2 {
    font-size: 1.75rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .landing__card-container {
    width: 90vw !important;
  }
  .card-text-wrapper {
    flex: 1;
  }
  .card-img-wrapper {
    flex: 1;
  }
  .landing__nav-center {
    margin: 0 3rem;
  }
  #landing__hero {
    padding: 1rem;
  }
}
@media screen and (max-width: 968px) {
  h1,
  h2,
  h3,
  h4 {
    margin: 0.75rem 0;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
  .landing__nav-burger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: right;
    padding: 0 1rem;
    color: $light2-clr;
  }
  #burger-icon {
    display: block;
  }
  .landing__nav-container {
    flex-direction: column !important;
  }
  .landing__nav-center {
    flex-direction: column;
    text-align: center;
    margin: 0;
  }
  .nav-link {
    margin: 0.5rem;
  }
  .landing__nav-account {
    flex-direction: column-reverse;
    text-align: center;
  }
  .mobile-dropdown {
    display: block;
    position: fixed;
    top: 80px;
    background-color: $dark-clr;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    width: 100%;
  }
  .nav-link {
    margin: 0;
  }
  .nav-link a {
    display: inline-block;
    padding: 0.5rem;
    width: 100%;
  }
  .landing__hero-text p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .landing__hero-text h1 span {
    font-size: 3rem !important;
  }
  .landing__hero-img-wrapper {
    max-width: 480px;
  }
  .primary-btn {
    font-size: 1.25rem;
    line-height: 1.25rem;
    background-color: $accent-clr;
    width: fit-content;
    padding: 1.25rem 2rem;
    border-radius: 25px;
    transition: all 0.25s;
  }
  .landing__card-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .landing__card-container.card-reverse {
    flex-direction: column !important;
  }
  .card-text-wrapper {
    max-width: 90%;
    margin: 0;
    margin-bottom: 2rem;
  }
  .card-img-wrapper,
  .landing__card-container.reverse .card-img-wrapper {
    margin: 0;
  }
  .landing__card-container.card-reverse .card-img-wrapper {
    margin-right: 0;
  }
}
@media screen and (max-width: 789px) {
  #landing__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem !important;
  }
  .landing__hero-text {
    text-align: center;
  }
  .primary-btn {
    margin: auto;
  }
}

@media screen and (max-width: 500px) {
  .landing__card-container,
  .landing__card-container.card-reverse {
    padding: 1rem;
  }
  .card-img-wrapper {
    margin: 0;
  }
  .landing__hero-text h1 span {
    font-size: 2rem !important;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  #landing__footer {
    padding: 1rem !important;
  }
  #landing__footer .logo {
    margin-right: 1rem !important;
  }
}

/*? HIDE */
.visible {
  height: auto;
  max-height: 225px;
}
