.msg-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 20rem;
  max-width: 400px;
  padding: 0.75rem 1rem;
  margin: 1rem auto;
  border-radius: 15px;
  #close-msg {
    cursor: pointer;
  }
}
.error {
  color: $error-clr;
  border: 2px solid $error-clr;
  background-color: rgb(243, 175, 175);
}
.success {
  color: green;
  border: 2px solid green;
  background-color: #b9f8b6;
}
