aside {
  background: $dark-clr;
  color: $light2-clr;
  padding: 2rem;
  font-size: 0.5rem;
  border-radius: 25px 0 0 25px;
  height: 80vh;
  overflow-y: scroll;
  flex: 4;
}
aside::-webkit-scrollbar {
  width: 0;
}
@media screen and (max-width: 1250px) {
  aside {
    flex: 5;
  }
}
@media screen and (max-width: 1000px) {
  aside {
    flex: 6;
  }
}
@media screen and (max-width: 750px) {
  aside {
    height: 100vh;
    border-radius: 0;
  }
}
@media screen and (max-width: 350px) {
  aside {
    padding: 2rem 5px;
  }
}
