#landing__hero {
  background-color: $dark2-clr;
  display: flex;
  justify-content: space-around;
  padding: 1rem 5rem;
  margin-top: 80px;
}
.landing__hero-text {
  flex: 1;
  color: $light2-clr;
  h1 {
    span {
      font-size: 4rem;
    }
  }
  p {
    font-size: 1.25rem;
    line-height: 2rem;
    margin: 1.5rem 0;
  }
}

.landing__hero-img-wrapper {
  flex: 1;
  position: relative;
  max-width: 680px;
  margin: 1.5rem;
  img {
    border-radius: 25px;
    height: 100%;
  }
  &::after {
    content: '';
    @include image-overlay();
  }
}
@media screen and (max-width: 600px) {
  .landing__hero-text {
    h1 {
      span {
        font-size: 2.5rem;
      }
    }
    p {
      font-size: 1.1rem;
      line-height: 1.75rem;
    }
  }
}
