#landing__hero {
  background-color: $dark2-clr;
  padding: 1rem 5rem;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
.landing__hero-wrapper {
  max-width: 1400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.landing__hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  color: $light2-clr;
  h1 {
    span {
      font-size: 4rem;
    }
  }
  p {
    font-size: 1.25rem;
    line-height: 2rem;
    margin: 1.5rem 0;
  }
  a {
    width: fit-content;
  }
}

.landing__hero-img-wrapper {
  flex: 1;
  position: relative;
  max-width: 680px;
  margin: 1.5rem;
  background-color: $dark2-clr;
  img {
    border-radius: 25px;
  }
  &::after {
    content: "";
    @include image-overlay();
  }
}
@media screen and (max-width: 1089px) {
  #landing__hero {
    padding: 1rem !important;
  }
  .landing__hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .landing__hero-text {
    text-align: center;
  }
  .primary-btn {
    margin: auto;
  }
}
@media screen and (max-width: 600px) {
  .landing__hero-text {
    h1 {
      span {
        font-size: 2.5rem;
      }
    }
    p {
      font-size: 1.1rem;
      line-height: 1.75rem;
    }
  }
}
