@import './variables.css';
/*************? GLOBAL ******************/
* {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: var(--light2-clr);
}
a:hover {
  color: var(--accent-clr);
}
p {
  font-size: 1.15rem;
  line-height: 1.5rem;
}
h1,
h2,
h3,
h4 {
  margin: 1.5rem 0;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

.accent-clr {
  color: var(--accent-clr);
}
.primary-btn {
  font-size: 1.5rem;
  line-height: 1.5rem;
  background-color: var(--accent-clr);
  width: fit-content;
  padding: 1.25rem 2rem;
  border-radius: 25px;
  transition: all 0.25s;
}
.primary-btn:hover {
  color: var(--light2-clr);
  background-color: var(--hover-clr);
}
