@mixin container() {
  background: $light2-clr;
  border-radius: 25px;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.66);
  margin: 1rem;
}
@mixin button() {
  border-radius: 25px;
  border: none;
  width: fit-content;
  transition: all 0.25s;
}
@mixin image-overlay() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border-radius: 25px;
  background: linear-gradient(
    to top right,
    rgba(10, 25, 61, 0.9) 0%,
    rgba(10, 25, 61, 0.5) 40%,
    rgba(10, 25, 61, 0.5) 60%,
    rgba(10, 25, 61, 0.9) 100%
  );
}
//for icon buttons
@mixin button-color($color, $darken) {
  color: $color;
  &:hover {
    color: darken($color, $darken);
    transform: scale(1.1);
  }
}
